@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: url(../resources/pictures/background.jpeg) no-repeat center;
    background-size: cover;
    min-height: 100vh;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.success-message {
    background-color: $color-background-success;
    color: $color-ok;
    padding: 10px;
    border: 1px solid darken($color-background-success, 50);
}
